#site > footer {
  color: var(--footer-text);
  background-color: var(--footer-back);
  padding: 1rem;
  border-top: 1px solid var(--footer-border);
  box-shadow: inset 0 1px 1px var(--top-shadow);
}
