#site > header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--header-height);
  z-index: 1001;
  box-shadow: 0 4px 3px -2px var(--top-shadow);
  background-color: var(--header-back);
  color: var(--header-text);
  & > nav {
    height: var(--header-height);
    max-width: var(--app-width);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--header-text);
    background-color: var(--header-back);
    padding: 0 var(--head-pad, 0);
    font-size: $size-large;
    line-height: 1rem;
    border-bottom: 1px solid var(--header-border);
    a:not(button, .button), .action, .night-and-day--switcher {
      transition: color 0.5s, opacity 0.3s;
      text-decoration: none;
      color: var(--header-link);
      cursor: pointer;
      &:hover {
        transition: color 0.1s;
        color: var(--header-hover);
      }
    }
    .toggle-sidebar {
      opacity: var(--sidebar-toggle-opacity);
      &:hover {
        opacity: 1;
      }
    }
  }
}