.prev-next a {
  --color:      var(--grey40-50);
  --background: var(--grey20-100);
  --heading:    var(--grey20-40);
  --border:     var(--grey-80);
  --radius:       var(--unit-radius);
  padding: 0.75em 1.25em;
  color: var(--color) !important;
  background-color: var(--background);
  border: 1px solid var(--border);
  border-radius: var(--radius);
  &.next {
    text-align: right;
  }
  h6 {
    color: var(--heading);
    font-weight: 500;
    opacity: 0.7;
    transition: all var(--unit-transition);
  }
  &:hover {
    --color:      var(--brand-50);
    --background: var(--grey-100);
    --border:     var(--grey40-80);
    h6 {
      opacity: 1;
    }
  }
}
.prev-next-arrows {
  margin-top: -2rem;
  margin-bottom: 0.5rem;
}

#{$dark-theme} .prev-next a {
  --color:      var(--grey40-50);
  --background: var(--grey-5);
  --border:     var(--grey-20);
  --heading:    var(--grey20-70);
  &:hover {
    --color:      var(--brand-60);
    --background: var(--brand-0);
    --border:     var(--grey40-25);
  }
}
