#app > aside {
  h3:first-child {
    margin-top: 0;
  }
  h3.sidebar-title {
    margin-bottom: 0.25rem;
    font-size: var(--size-medium);
    font-weight: 400;
    color: var(--side-title);
    &:not(:first-child) {
      margin-top: 1.25rem;
    }
  }
  section {
    margin-bottom: 0.5rem;
    h3 {
      font-size: var(--size-small);
      margin-bottom: 0.25rem;
    }
  }
  div.menu {
    border: 0;
    margin-bottom: 1rem;
    font-size: 0.9em;
    // padding-left: 0.5rem;
    margin-bottom: 0;
    summary {
      margin-bottom: 0rem;
      color: var(--menu-head);
      &:hover {
        color: var(--menu-head-hover);
      }
    }
    .item {
      display: block;
      // font-size: 0.9em;
      line-height: 1.25;
      margin-bottom: 0.125em;
      padding: 0.25rem 0.5rem;
      color: var(--menu-item-text);
      background-color: var(--menu-item-back);
      // transition: all var(--unit-transition);
      text-decoration: none;
      border-radius: 0;
      border: none;
      cursor: pointer;
      &:first-of-type {
        border-top-left-radius: 0.25rem;
        border-top-right-radius: 0.25rem;
      }
      &:last-of-type {
        border-bottom-left-radius: 0.25rem;
        border-bottom-right-radius: 0.25rem;
      }
      &:hover {
        color: var(--menu-hover-text);
        background-color: var(--menu-hover-back);
      }
      &.active {
        color: var(--menu-active-text);
        background-color: var(--menu-active-back);
      }
      &.code {
        font-family: var(--font-mono);
      }
    }
    & > div.menu {
      padding-left: 0.5rem;
      margin-bottom: 0.5rem;
      h4 {
        color: var(--submenu-head);
        font-size: 1.1em;
        font-weight: 500;
        margin: 0.5rem 0 0.125rem 0.25rem;
        &:hover {
          cursor: pointer;
        }
      }
      .item {
        color: var(--menu-item-text);
        background-color: var(--submenu-back);
        &:hover {
          transition: all 0.2s;
          color: var(--submenu-hover-text);
          background-color: var(--submenu-hover-back);
          cursor: pointer;
        }
        &:active {
          color: var(--menu-active-text);
          background-color: var(--menu-active-back);
        }
      }
    }
  }
}
