$header-height:     42px !default;
$theme-transition:  0.5s !default;
$side-width:        14rem !default;    // old
$side-padding:      1rem !default;

$main-width:        70rem !default;
$main-padding:      3rem !default;
$head-padding:      1rem !default;
$app-width:         $side-width + $main-width;
$head-width:        $app-width + $head-padding;

// TODO: new
$sidebar-min-width:    12rem !default;
$sidebar-max-width:    20rem !default;
$sidebar-gutter:       1rem !default;


:root {
  --header-height:      #{$header-height};
  --sidebar-min-width:  #{$sidebar-min-width};
  --sidebar-max-width:  #{$sidebar-max-width};
  --sidebar-gutter:     #{$sidebar-gutter};
}